<div class="card">
    <form method="POST" action="/meetings/join">
        <h3>Join A Meeting...</h3>
        <ul>
            <li><input name="user_role" type="radio" value="presenter" checked> Presenter</li>
            <li><input name="user_role" type="radio" value="audience"> Audience </li>
        </ul>

        <input type="text" name="code" placeholder="code">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Join Meeting">
    </form>
</div>
