<div class="container flex-center">
    <div class="card">
        <span class="title">Join</span>
        <form method="POST" action="/meetings/join" class="form-control">
            <ul>
                <li><input name="user_role" type="radio" value="presenter" checked> Presenter</li>
                <li><input name="user_role" type="radio" value="audience"> Audience </li>
            </ul>

            <input type="text" name="code" placeholder="code" required>
            <input type="password" name="password" placeholder="password" required>
            <button class="submit"><i class="fa fa-sign-in" aria-hidden="true"></i><span>Join Meeting</span></button>
        </form>
    </div>
</div>
