<h1>New Meeting...</h1>
<p>Select your role:</p>

<form method="POST" action="/meetings">
    <ul>
        <li><input name="user_role" type="radio" value="presenter" checked> Presenter</li>
        <li><input name="user_role" type="radio" value="audience"> Audience </li>
    </ul>
    <input type="submit" value="Start Meeting">
</form>
