<div class="container flex-center">
    <%= link_to new_meeting_path, :class => "card card-trans" do %>
        <i class="fa fa-video-camera fa-6" aria-hidden="true"></i>
        <span>Start Meeting</span>
    <% end %>

    <%= link_to meetings_url, :class => "card card-trans" do %>
        <i class="fa fa-sign-in fa-6" aria-hidden="true"></i>
        <span>Join Meeting</span>
    <% end %>
</div>
