<div class="container flex-center">
    <div class="card">
        <span class="title">Sign Up</span>
        <form method="POST" action="/users" class="form-control">

        	<input name="email" type="text" placeholder="Email Address">
        	<input name="password" type="password" placeholder="********">

            <span class="alternate">Already have an account? <a href="/login">Login</a></span>
        	<button class="submit"><span>Sign Up</span></button>
        </form>
    </div>
</div>
