<h1>Sign Up</h1>
<form method="POST" action="/users">
	<label name="email">Email </label>
	<input name="email" type="text" placeholder="Email Address">
	
	<label name="password">Password</label>
	<input name="password" type="password" placeholder="********">

	<input type="submit" value="Sign Up">
</form>
