.hidden {
    display:none;
}

#meeting-canvas {
    width: 100%;
}

#info {
    position: absolute;
    width: 100%;
    padding: 5px;
    text-align: right;
    background: rgba(0, 0, 0, 0.1);
    span {
        color: black;
    }

    .actions {
        float: left;
    }
}

#meeting {
    margin: 0;
    padding: 0;
    width: 100%;
    img {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        // border: 1px solid #b9b9b9;
    }
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    text-align: center;

    margin-left: 50px;
    margin-top: 10%;
    height: 300px;
    width: 30%;

    border: 1px solid #b9b9b9;
    border-radius: 5px;
    color: #1d1d1d;


    .title {
        display: block;
        position: absolute;
        width: 100%;
        text-align: left;
        top: 0;
        left: 0;
        padding: 10px;
        border-bottom: 1px solid #b9b9b9;
        color: #6f6f6f;
        letter-spacing: 2px;
    }

}

.form-control {
    text-align: center;
    align-self: center;
    & > * {
        display: block;
    }

    ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 0;
        padding-left: 0;
        li {
            display: inline;
        }
    }

    &.new ul {
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding-left: 0;
        li {
            display: block;
        }
    }

    & > input {
        font-size: 20px;
        padding: 5px 10px;
        border-radius: 5px;
        border-style: groove;
        width: 100%;
    }

    input {
        font-weight: 100;
        margin-top: 20px;
    }

    .submit {
        display: flex;
        justify-content: center;;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: white;
        border: none;
        font-size: 30px;
        cursor: pointer;
        float: right;
        padding-bottom: 10px;
        padding-top: 10px;
        color: white;
        border-top: 1px solid #b9b9b9;

        span {
            align-self: center;
            color: #1d1d1d;
            font-size: 18px;
            margin-left: 5px;
            padding-top:3px;
            padding-bottom: 3px;
        }

        &:hover {
            i {
                font-size: 30px;
            }

            span {
                text-decoration: line-through;
            }
        }

        &:focus {
            outline: none;
        }

        &:active {
            letter-spacing: 3px;
        }
    }
}
